.header {
  display: flex;
}

.navbar {
  background: #fff;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.navbar__container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 220px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.navbar__logo img {
  height: 55px;
  width: auto;
}

.navbar__menu {
  display: flex;
  gap: 30px;
  list-style: none;
  font-size: 18px;
}

.navbar__menu-link {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  padding: 5px 0;
  position: relative;
  transition: color 0.4s, transform 0.4s;
}

.navbar__menu-link:hover {
  color: #66a104;
  transform: scale(1.15);
}

.navbar__toggler {
  display: none;
  background: none;
  border: none;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
  padding: 5px;
}

.navbar__toggler span {
  display: block;
  width: 25px;
  height: 2px;
  background: #333;
  transition: 0.3s;
}

/* Мобильная адаптация */


